<mat-toolbar color="primary" class="navbar">
  <!-- Logo y nombre (izquierda) -->


  <!-- Espacio flexible para empujar elementos a la derecha -->
  <span class="spacer"></span>

  <!-- Elementos de navegación (visible en desktop) -->
  <nav class="nav-links" *ngIf="!isMobile">
    <a mat-button routerLink="/inicio">Inicio</a>
    <a mat-button routerLink="/acerca">Alumnos</a>
    <a mat-button routerLink="/acerca">Resultados</a>
    <!-- Menú desplegable -->
    <button mat-button [matMenuTriggerFor]="menu">Carga de datos <mat-icon>arrow_drop_down</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/servicios/consulta">Carga de resultados</button>
      <button mat-menu-item routerLink="/servicios/citas">Carga de alumnos</button>
    </mat-menu>

    <a mat-button routerLink="/login">Salir</a>
  </nav>

  <!-- Menú hamburguesa (solo en móvil) -->
  <button mat-icon-button (click)="sidenav.toggle()" *ngIf="isMobile" class="mobile-menu-button">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<!-- Menú lateral para móvil -->
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" position="end" class="mobile-sidenav">
    <div class="sidenav-content">
      <a mat-button routerLink="/inicio" (click)="sidenav.close()">Inicio</a>
      <a mat-button routerLink="/acerca" (click)="sidenav.close()">Alumnos</a>
      <a mat-button routerLink="/acerca" (click)="sidenav.close()">Resultados</a>

      
      <mat-divider></mat-divider>
      
      <button mat-button [matMenuTriggerFor]="mobileMenu">Carga de datos</button>
      <mat-menu #mobileMenu="matMenu">
        <button mat-menu-item routerLink="/servicios/consulta" (click)="sidenav.close()">Cargar alumnos</button>
        <button mat-menu-item routerLink="/servicios/citas" (click)="sidenav.close()">Cargar Resultados</button>
      </mat-menu>

      <a mat-button routerLink="/login" (click)="sidenav.close()">Salir</a>
    </div>
  </mat-sidenav>
</mat-sidenav-container>