<div class="app-container">
  <!-- Header (full width) -->
  <mat-toolbar class="header">
    <div class="header-content">
      <img src="/assets/images/unsis-logo.png" alt="Logo UNSIS"> 
      <span class="title">Sistema de Acceso UNSIS</span>
      <div class="spacer"></div>
      <button mat-button color="accent">Ayuda</button>
    </div>
  </mat-toolbar>

  <!-- Contenido (full width con fondo beige) -->
  <div class="content">
  
    <router-outlet></router-outlet>
  </div>

  <!-- Footer (full width) -->
  <mat-toolbar class="footer">
    <div class="footer-content">
      <span>© 2024 Universidad de la Sierra Sur</span>
      <div class="footer-links">
        <a mat-button>Contacto</a>
        <a mat-button>Aviso de Privacidad</a>
        <a mat-button>Mapa del Sitio</a>
      </div>
    </div>
  </mat-toolbar>
</div>