<div class="app-container">
  <!-- Header (NO fijo) -->
  <mat-toolbar class="header">
    <div class="header-content">
      <img src="/assets/images/unsis-logo.png" alt="Logo"> 
      <span class="title">Sistema de ingreso UNSIS</span>
      <div class="spacer"></div>
    </div>
  </mat-toolbar>



  <!-- Contenido -->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>

  <!-- Footer -->
  <mat-toolbar class="footer">
    <div class="footer-content">
      <span>© 2024 Universidad de la Sierra Sur</span>
      <div class="footer-links">
        <a mat-button>Contacto</a>
        <a mat-button>Aviso de Privacidad</a>
        <a mat-button>Mapa del Sitio</a>
      </div>
    </div>
  </mat-toolbar>
</div>