
<div *ngIf="!isLoginRoute()">
  <div *ngIf="isDesktop; else mobileLayout">
    <div *ngIf="!isLoginRoute()" class="grid grid-cols-[100px_1fr_100px] grid-rows-[100px_1fr_100px] gap-y-[10px] gap-x-[10px] h-screen">
  
  <!-- Header -->
  <div class="col-span-3 flex items-center justify-center">
    
  </div>

  <!-- Sidebar -->
  <div class=" p-2">
    <app-nav></app-nav>
  </div>

  <!-- Content -->
  <div class="p-2  flex items-center justify-center">
    <app-alert></app-alert>
    <router-outlet></router-outlet>
  </div>

  <!-- Extra column a la derecha (opcional) -->
  <div class=" p-2">
    <!-- Puedes poner info adicional o dejar vacío -->
  </div>

  <!-- Footer -->
  <div class="col-span-3 items-center justify-center bg-gray-100">
    <app-footer></app-footer>
  </div>

</div>
  </div>

  <ng-template #mobileLayout>
    <!-- Layout de móvil (si quieres cambiar algo) -->
    <div class="grid grid-cols-[1fr] grid-rows-[100px_1fr_100px] gap-y-[10px] gap-x-[10px]">
      <div><app-nav></app-nav></div>
      <div><app-alert></app-alert>
        <router-outlet></router-outlet></div>
      <div><app-footer></app-footer></div>
    </div>
  </ng-template>
</div>


<!-- Layout login -->
<div *ngIf="isLoginRoute()" class="flex flex-col gap-2 h-screen">
  <div class="w-full h-[60px]">

  </div>
  <div class="w-full grow">
    <app-alert></app-alert>
    <router-outlet></router-outlet>
  </div>
  <div class="w-full h-[60px]">

  </div>
</div>